{{>navegador}}

<form action="">
    <h3>Dejanos tu consulta y responderemos a la brevedad</h3>
    <h4>Nombre:<input type="text"></h4>
    <h4>Mail:<input type="text"></h4>
    <h4>Mensaje:<input type="text"></h4>
</form>